html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Bahnschrift;
    font-size: 4vh;
}

body {
        background: #bc0048;
}

#c * {
    position: absolute;
}
#s, #t {
    position: fixed;
    z-index: 100;
    color: #fff;
    padding: 4vh;
    text-shadow: 2px 2px #000;
}
#t {
    right: 4vh;
}
